doctype html
html
    head
        style
            include style.css
    body
        div
            | This is my first Pug email.
            br
            | Please welcome to my email-world.
            p Paragraph could be anything.
        div
            block content
        div.footer
            | Best regards
            br
            a(href=frontendURL) June course Node.js